nav{
  display: flex;
  height:70px;
  /* box-shadow:0px 2.9px 7.46px rgba(0,0,0,10%); */
  box-shadow:1px 40px 10px rgba(0,0,0,20%);

}
.navigation--logo{
  padding:16px 40px;
}
section{
  background-color: rgb(245, 242, 249);

  padding:20px;
}
.home__image-container{
  
  display:flex;
  flex-direction:column;
  align-self: center;
  margin:0.3rem 10rem;
  align-items: center;
}
.home__image-container p{
  padding-bottom: 20px;
}
.home--image{
 
}
.content__container{
  width:33%;
  font-size:20px;
  margin-left: 40px;
}
.content__container h1{
  
}
.rating_container{
  display:flex
}
@media screen and (max-width:800px){
  .home__image-container{
    width:100vw;
    margin-left:-10%;
    padding:0px 20px;
  }
  .home--image{
   
  }
}


@media screen and (max-width:500px){
  .home__image-container{
    display:flex;
    align-self: center;
    margin:2rem 10rem;
    align-items: center;
  }
  .home--image{
   
  }

}